body{
    font-family: 'Black Han Sans', sans-serif;
    background-color: #1E9BD9;
    font-size: 40px;

}
.head{
    border: 5px black;
    font-size: 80px;
    text-align: center;
    margin-top: 300px;
    width: auto;
}
.box{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    background-color: white;
    margin-left: 40%;
    max-height: 90px;
    width: 20%;
    border: 5px solid black;

    text-align: center;
    padding-top: 17px;
    padding-bottom: -20px;
}
.box:hover{
    background-color: #76F056;
}