body{
    font-family: 'Black Han Sans', sans-serif;
    background-color: #1E9BD9;
    font-size: 40px;
    -webkit-text-size-adjust:none;

}
.head{
    border: 5px black;
    font-size: 80px;
    text-align: center;
    margin-top: 300px;
    width: auto;
}
.box{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    background-color: white;
    margin-left: 40%;
    height: 160px;
    width: 20%;
    border: 5px solid black;

    text-align: center;

    padding-top: 25px;
    padding-bottom: -12px;
}
.box:hover{
    background-color: #76F056;
}
@media(min-width:820px){
    .box{
        width: 20%;
        height: 80px;
        padding-left: 0px;
        padding-top: 12px;
        padding-bottom: -12px;
    }
}